<h1>Directions!</h1>

<form action="/location/results">
  
  <p>
    <label for="o">Enter a Origin City:</label>
    <input id="o" name="origin" type="text">
  </p>

  <p>
    <label for"d">Enter a Destination City:</label>
    <input id="d" name="destination" type="text">
  </p>

  <input type="submit" value="Do It!">
</form>